# Developer Super Admin Portal Custom URL Path
# Customize this path to change the unique URL required to access the developer dashboard.
# (Make sure it starts with a leading slash)
VITE_SUPER_ADMIN_PATH=/dev-super-admin-portal-xyz
